::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #5F04A717;
}

::-webkit-scrollbar-thumb:hover {
    background: #5F04A7;
}

.title {
    font-weight: bold;
    font-size: 20px;
}

.title-margin {
    margin: 15px;
}

.content {
    display: flex;
    flex-direction: column;
}

.ResponsiveHStack {
    flex-direction: row;
}

.ResponsiveHStack .Card {
    width: 45%;
}

.big-icon {
    min-height: 100px;
}

.small-icon {
    max-width: 100px;
    min-height: 90px;
}

.ResponsiveHStack .artist {
    width: 35%;
}

.ResponsiveHStack .player {
    width: 15%;
}

.playBtn {
    box-shadow: 0 0 50px #5F04A7a6;
}

.moveTopOnHover:hover {
    transform: translateY(-3px);
}

.lightOnHover:hover {
    opacity: 0.8;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 17%;
    height: 100%;
    background: #FBFCFE;
}

.navpar {
    width: 17%;
    min-width: max-content;
}

.abs {
    position: absolute;
}

.botRight {
    bottom: 0;
    right: 0;
}

.responseFill {
    width: calc(25% - 30px);
}

.mobileOnly {
    display: none;
}

.desktopOnly {
    display: block;
}

.searchBar {
    flex: 0;
}

.absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circleBlurBg {
    width: 1px;
    height: 1px;
    border-radius: 50%;
    opacity: 0.2;
    box-shadow: 0 0 100px 80px #1fece5, 0 0 100px 120px #8ffffb;
}

.noWrap{
    text-wrap: nowrap;
}

.audioSeekWidth{
    width: 70%;
}

.audioBtnWidth{
    width: 60%;
}

@media only screen and (max-width: 990px) {
    .navpar {
        display: none !important;
    }

    .mobileOnly {
        display: block;
    }

    .desktopOnly {
        display: none !important;
    }

}

@media only screen and (max-width: 850px) {

    .responseFill {
        width: calc(33% - 30px);
    }
}

@media only screen and (max-width: 650px) {

    .responseFill {
        width: calc(50% - 30px);
    }

    .title {
        font-weight: bold;
        font-size: 16px;
    }

    .title-margin {
        margin: 8px;
    }

    .ResponsiveHStack, .content {
        flex-direction: column-reverse;
    }

    .ResponsiveHStack .Card {
        width: 90%;
    }

    .big-icon {
        min-height: 80px;
    }

    .small-icon {
        max-width: 80px;
        min-height: 70px;
    }

    .artist, .player {
        width: 100%;
    }

    .searchBar {
        flex: 1;
    }


    .audioSeekWidth{
        width: 100%;
    }

    .audioBtnWidth{
        width: 100%;
    }

}

@media only screen and (max-width: 390px) {

    .responseFill {
        width: calc(100% - 30px);
    }
}